.navbar {
   display: flex; 
   justify-content: space-between; 
   padding: 15px 30px; 
   background: #1e1e2f; 
   color: white; 
  }


 .navbar a {
   color: #00e5ff; 
   text-decoration: none;
   }